[Unit]
Description=TechNexion Gui Client
After=dbus.service dbus-sess.service installerd.service network-online.target systemd-networkd-wait-online.service systemd-resolved.service

[Service]
Type=simple
EnvironmentFile=@ENV_FILE@
ExecStart=@EXEC_START@

[Install]
WantedBy=multi-user.target
